{% schema %}
{
  "name": "Pepperfry Full Menu",
  "settings": [],
  "presets": [{ "name": "Pepperfry Full Menu" }]
}
{% endschema %}

<div class="pf-navbar-wrapper">
  <div class="pf-navbar-container">
    <ul class="pf-nav-list">
      
      <!-- ======================== 1. BRASS ======================== -->
      <li class="pf-nav-item">
        <a href="/collections/brass" class="pf-nav-link">
          Brass
          <svg class="nav-arrow" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M6 9l6 6 6-6"/></svg>
        </a>
        <div class="pf-mega-menu">
          <div class="pf-mega-grid">
            <!-- Col 1: Gods -->
            <div class="pf-mega-column">
              <a href="/collections/brass-idols" class="pf-mega-heading">God Idols</a>
              <ul class="pf-mega-sublist">
                <li><a href="/collections/brass-ganesha" class="pf-mega-item">Ganesha</a></li>
                <li><a href="/collections/brass-krishna" class="pf-mega-item">Krishna & Radhe</a></li>
                <li><a href="/collections/brass-shiva" class="pf-mega-item">Shiva Parvati</a></li>
                <li><a href="/collections/brass-hanuman" class="pf-mega-item">Hanuman</a></li>
                <li><a href="/collections/brass-vishnu" class="pf-mega-item">Vishnu / Balaji</a></li>
                <li><a href="/collections/brass-buddha" class="pf-mega-item">Buddha</a></li>
              </ul>
            </div>
            <!-- Col 2: Goddesses -->
            <div class="pf-mega-column">
              <a href="/collections/brass-devi" class="pf-mega-heading">Goddess</a>
              <ul class="pf-mega-sublist">
                <li><a href="/collections/brass-laxmi" class="pf-mega-item">Laxmi</a></li>
                <li><a href="/collections/brass-durga" class="pf-mega-item">Durga / Kali</a></li>
                <li><a href="/collections/brass-saraswati" class="pf-mega-item">Saraswati</a></li>
              </ul>
              <a href="/collections/brass-animals" class="pf-mega-heading" style="margin-top:15px;">Animals</a>
              <ul class="pf-mega-sublist">
                <li><a href="/collections/brass-horse" class="pf-mega-item">Horse</a></li>
                <li><a href="/collections/brass-elephant" class="pf-mega-item">Elephant</a></li>
                <li><a href="/collections/brass-cow" class="pf-mega-item">Cow & Calf</a></li>
                <li><a href="/collections/brass-deer" class="pf-mega-item">Deer / Bull</a></li>
              </ul>
            </div>
            <!-- Col 3: Decor -->
            <div class="pf-mega-column">
              <a href="/collections/brass-decor" class="pf-mega-heading">Home Decor</a>
              <ul class="pf-mega-sublist">
                <li><a href="/collections/brass-diya" class="pf-mega-item">Diyas & Oil Lamps</a></li>
                <li><a href="/collections/brass-urli" class="pf-mega-item">Urlis & Bowls</a></li>
                <li><a href="/collections/brass-bells" class="pf-mega-item">Hanging Bells</a></li>
                <li><a href="/collections/brass-vase" class="pf-mega-item">Flower Vases</a></li>
                <li><a href="/collections/brass-locks" class="pf-mega-item">Vintage Locks</a></li>
                <li><a href="/collections/brass-handles" class="pf-mega-item">Door Handles</a></li>
              </ul>
            </div>
             <!-- Col 4: Image -->
            <div class="pf-mega-column">
               <div class="pf-nav-promo">
                 <img src="https://cdn.shopify.com/s/files/1/0661/2837/files/brass-promo.jpg?v=1600000000" alt="New Brass" style="width:100%; border-radius:4px;">
                 <p style="font-size:12px; margin-top:5px; color:#880015; font-weight:600;">New Arrivals in Brass</p>
               </div>
            </div>
          </div>
        </div>
      </li>

      <!-- ======================== 2. RESIN ======================== -->
      <li class="pf-nav-item">
        <a href="/collections/resin" class="pf-nav-link">
          Resin
          <svg class="nav-arrow" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M6 9l6 6 6-6"/></svg>
        </a>
        <div class="pf-mega-menu">
          <div class="pf-mega-grid">
            <div class="pf-mega-column">
              <a href="/collections/resin-buddha" class="pf-mega-heading">Buddha Series</a>
              <ul class="pf-mega-sublist">
                <li><a href="/collections/resin-buddha-big" class="pf-mega-item">Big Heads</a></li>
                <li><a href="/collections/resin-meditating" class="pf-mega-item">Meditating Buddha</a></li>
                <li><a href="/collections/resin-monks" class="pf-mega-item">Baby Monks</a></li>
              </ul>
            </div>
            <div class="pf-mega-column">
              <a href="/collections/resin-animals" class="pf-mega-heading">Feng Shui Animals</a>
              <ul class="pf-mega-sublist">
                <li><a href="/collections/resin-horse" class="pf-mega-item">Running Horse</a></li>
                <li><a href="/collections/resin-elephant" class="pf-mega-item">Elephant Family</a></li>
                <li><a href="/collections/resin-deer" class="pf-mega-item">Geometric Deer</a></li>
                <li><a href="/collections/resin-birds" class="pf-mega-item">Birds & Eagles</a></li>
              </ul>
            </div>
            <div class="pf-mega-column">
              <a href="/collections/resin-modern" class="pf-mega-heading">Modern Art</a>
              <ul class="pf-mega-sublist">
                <li><a href="/collections/resin-human" class="pf-mega-item">Human Figurines</a></li>
                <li><a href="/collections/resin-abstract" class="pf-mega-item">Abstract Decor</a></li>
                <li><a href="/collections/resin-table" class="pf-mega-item">Table Accents</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <!-- ======================== 3. COPPER ======================== -->
      <li class="pf-nav-item">
        <a href="/collections/copper" class="pf-nav-link">
          Copper
          <svg class="nav-arrow" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M6 9l6 6 6-6"/></svg>
        </a>
        <div class="pf-mega-menu">
          <div class="pf-mega-grid">
            <div class="pf-mega-column">
              <a href="/collections/copper-drinkware" class="pf-mega-heading">Drinkware</a>
              <ul class="pf-mega-sublist">
                <li><a href="/collections/copper-bottles" class="pf-mega-item">Bottles</a></li>
                <li><a href="/collections/copper-glasses" class="pf-mega-item">Glasses & Tumblers</a></li>
                <li><a href="/collections/copper-jugs" class="pf-mega-item">Jugs & Pitchers</a></li>
                <li><a href="/collections/copper-sets" class="pf-mega-item">Gift Sets</a></li>
              </ul>
            </div>
            <div class="pf-mega-column">
              <a href="/collections/copper-spiritual" class="pf-mega-heading">Spiritual</a>
              <ul class="pf-mega-sublist">
                <li><a href="/collections/copper-lota" class="pf-mega-item">Kalash / Lota</a></li>
                <li><a href="/collections/copper-plates" class="pf-mega-item">Puja Plates</a></li>
                <li><a href="/collections/copper-hawan" class="pf-mega-item">Hawan Kund</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <!-- ======================== 4. BRONZE ======================== -->
      <li class="pf-nav-item">
        <a href="/collections/bronze" class="pf-nav-link">
          Bronze
          <svg class="nav-arrow" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M6 9l6 6 6-6"/></svg>
        </a>
        <div class="pf-mega-menu">
          <div class="pf-mega-grid">
            <div class="pf-mega-column">
              <a href="/collections/bronze-south" class="pf-mega-heading">South Indian Style</a>
              <ul class="pf-mega-sublist">
                <li><a href="/collections/bronze-nataraja" class="pf-mega-item">Nataraja</a></li>
                <li><a href="/collections/bronze-krishna" class="pf-mega-item">Krishna</a></li>
                <li><a href="/collections/bronze-devi" class="pf-mega-item">Devi / Goddess</a></li>
              </ul>
            </div>
            <div class="pf-mega-column">
              <a href="/collections/bronze-antique" class="pf-mega-heading">Antique Finish</a>
              <ul class="pf-mega-sublist">
                <li><a href="/collections/bronze-decor" class="pf-mega-item">Decor Pieces</a></li>
                <li><a href="/collections/bronze-collectibles" class="pf-mega-item">Collectibles</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <!-- ======================== 5. WALL ART ======================== -->
      <li class="pf-nav-item">
        <a href="/collections/wall-art" class="pf-nav-link">
          Wall Art
          <svg class="nav-arrow" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M6 9l6 6 6-6"/></svg>
        </a>
        <div class="pf-mega-menu">
          <div class="pf-mega-grid">
            <div class="pf-mega-column">
              <a href="/collections/wall-metal" class="pf-mega-heading">Metal Art</a>
              <ul class="pf-mega-sublist">
                <li><a href="/collections/wall-masks" class="pf-mega-item">Tribal Masks</a></li>
                <li><a href="/collections/wall-sun" class="pf-mega-item">Sun Faces</a></li>
                <li><a href="/collections/wall-trees" class="pf-mega-item">Tree of Life</a></li>
              </ul>
            </div>
            <div class="pf-mega-column">
              <a href="/collections/wall-hangings" class="pf-mega-heading">Hangings</a>
              <ul class="pf-mega-sublist">
                <li><a href="/collections/wall-bells" class="pf-mega-item">Door Bells</a></li>
                <li><a href="/collections/wall-hooks" class="pf-mega-item">Key Holders</a></li>
                <li><a href="/collections/wall-shelves" class="pf-mega-item">Shelves</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <!-- ======================== 6. GERMAN SILVER / GIFTING ======================== -->
      <li class="pf-nav-item">
        <a href="/collections/german-silver" class="pf-nav-link">
          Gifting
          <svg class="nav-arrow" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M6 9l6 6 6-6"/></svg>
        </a>
        <div class="pf-mega-menu" style="right:0; left:auto;">
          <div class="pf-mega-grid">
            <div class="pf-mega-column">
              <a href="/collections/german-silver" class="pf-mega-heading">German Silver</a>
              <ul class="pf-mega-sublist">
                <li><a href="/collections/silver-bowls" class="pf-mega-item">Bowls Set</a></li>
                <li><a href="/collections/silver-glasses" class="pf-mega-item">Glasses</a></li>
                <li><a href="/collections/silver-trays" class="pf-mega-item">Serving Trays</a></li>
              </ul>
            </div>
            <div class="pf-mega-column">
              <a href="/collections/corporate-gifts" class="pf-mega-heading">Occasions</a>
              <ul class="pf-mega-sublist">
                <li><a href="/collections/wedding-gifts" class="pf-mega-item">Wedding Gifts</a></li>
                <li><a href="/collections/housewarming" class="pf-mega-item">Housewarming</a></li>
                <li><a href="/collections/diwali-gifts" class="pf-mega-item">Diwali / Festivals</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>

<style>
/* WRAPPER */
.pf-navbar-wrapper {
  background: white;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  z-index: 90;
}

.pf-navbar-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

/* LIST STYLES */
.pf-nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 30px;
  /* Scroll on mobile */
  overflow-x: auto;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.pf-nav-item {
  padding: 15px 0;
  position: static; /* Allows mega menu to be full width relative to container if needed, but we use relative usually */
}

/* LINK STYLES */
.pf-nav-link {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}

.pf-nav-item:hover .pf-nav-link {
  color: #880015;
  border-bottom-color: #880015;
}

.nav-arrow { opacity: 0.5; }

/* MEGA MENU BOX */
.pf-mega-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #eee;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  padding: 30px 40px;
  z-index: 100;
  min-height: 250px;
}

/* Show on Hover */
@media (min-width: 992px) {
  .pf-nav-item:hover .pf-mega-menu {
    display: block;
    animation: fadeIn 0.2s ease-in-out;
  }
}

/* GRID LAYOUT */
.pf-mega-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 1400px;
  margin: 0 auto;
}

.pf-mega-column {
  min-width: 160px;
}

/* HEADINGS */
.pf-mega-heading {
  display: block;
  font-weight: 700;
  color: #880015; /* Aona Red */
  margin-bottom: 12px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.pf-mega-heading:hover { color: #55000d; }

/* SUBLIST */
.pf-mega-sublist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pf-mega-item {
  display: block;
  color: #555;
  text-decoration: none;
  font-size: 13px;
  padding: 5px 0;
  transition: transform 0.2s, color 0.2s;
}

.pf-mega-item:hover {
  color: #000;
  font-weight: 600;
  transform: translateX(5px);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* MOBILE: Hide Mega Menu (Use basic scrolling) */
@media (max-width: 991px) {
  .pf-mega-menu { display: none !important; } 
  .pf-nav-item { padding: 12px 0; }
  .pf-nav-link { font-size: 12px; }
  .nav-arrow { display: none; }
}
</style>